body{
   background-color: #f4f4f4;
}
/*header-�긽�떒諛� �떆�옉*/
h1{
   text-align:center;
   font-size:18px;
   line-height:55px;
   color:#FFF;
   font-weight:100;
}
header{
   width: 100%;
   height: 55px;
   background-color: #37b1bc;
   position: relative;
   top: 0;
   left: 0;
}

.join_text {
   text-align:center;
   padding:130px 0;
   font-family: 'Nanum Gothic', serif;
   font-weight:100;
   font-size:36px;
}

.join_text strong { 
   font-weight:900;
}

.join_wrap { 
   width:800px;
   margin:auto;
   border:hidden;
   padding-left:50px;
   }
   
.join_wrap fieldset {
   border:none;
   }
   
.join_wrap input[type="file"]{
   width:235px;
   border:#CCC solid 1px;
   text-align:center center;
   padding:0;
}

.join_wrap div[id="img"]{
   width:240px;
   height:240px;
   text-align:center center;
   padding:0;
   float : left;
}

.join_wrap span[id="imagePreview"]{
   width:235px;
   height:235px;
   border:#CCC solid 1px;
   background:url('../images/join_img/profile.jpg') center center no-repeat;
   text-align:center center;
   padding:0;
   margin-top:5px;
   float : left;

   }
   
input[type="file"], .join_field {
   float:left;
}

.join_field {
   padding-left:20px;
   position:relative;
   }

.join_field input {
   width:350px;
   height:50px;
   background:#FFF;
   border:#ddd solid 1px;
   margin:5px 0;
   font-size:16px;
   font-family: 'Nanum Gothic', serif;
   float : left;
   }
   
.join_field span[id="join_dup"] {
   float : right;
   }
   
/* .join_field .id_check { */
/*    width: 30px; */
/*    height: 30px; */
/* /*    background: url(img/none.png); */
/*    position: absolute; */
/*    top: 16px; */
/*    right:115px; */
/*    float : left; */
/*    } */
   
.join_btn {
   clear:both;
   margin-left:150px;
   margin-top:30px;
   padding-top:30px;
   }   
   
.join_btn input[type="submit"]{
   width:200px;
   height:50px;
   background:#23cddc;
   border:none;
   color:#FFF;
   font-size:18px;
   font-weight:bold;
   margin-right:5px;
}   

.join_btn input[type="button"]{
   width:200px;
   height:50px;
   background:#a5c4c7;
   border:none;
   color:#FFF;
   font-size:18px;
   font-weight:bold;
   margin-right:5px;
}   
   
#dup {
   width:100px;
   height:50px;
   border:none;
   background:#CCC;
   color:#FFF;
   
   }
   
   
   
   
   
   
   
   
   
   
   