body{
	background-color: #f4f4f4;
}
/*header-상단바 시작*/
h1{
	text-align:center;
	font-size:18px;
	line-height:55px;
	color:#FFF;
	font-weight:100;
}
header{
	width: 100%;
	height: 55px;
	background-color: #37b1bc;
	position: relative;
	top: 0;
	left: 0;
}


.report_wrap{ 
	width:490px;
	margin:auto;
	margin-top: 40px;
	background-color: #ffffff;
	padding: 40px 20px;
	}
.report_wrap p{
	color: #666666;
}

.p_1{
	width: 130px;
	height: 30px;
	border-bottom: #37b1bc solid 2px;
	font-family: 'Jeju Gothic', serif;
	font-size: 18px;
	float: left;
}
.p_2{
	width: 130px;
	height: 30px;
	border-bottom: #37b1bc solid 2px;
	font-size: 14px;
	line-height: 30px;
	float: right;
	text-align: center;
	margin-bottom: 25px;
}
.report_1 div{
	clear: both;
	width: 460px;
	height: 130px;
	background-color: #f4f4f4;
	color: #666666;
	padding: 15px;
	margin-bottom: 40px;
	
}

.report_1{
	border-bottom: #E7E7E7 dashed 2px;
}

#p_3{
	width: 130px;
	height: 30px;
	border-bottom: #37b1bc solid 2px;
	font-family: 'Jeju Gothic', serif;
	font-size: 18px;
	float: left;
	margin-top: 40px;
	color: #37b1bc;
}
.p_4{
	width: 130px;
	height: 30px;
	border-bottom: #37b1bc solid 2px;
	font-size: 14px;
	line-height: 30px;
	float: right;
	text-align: center;
	margin-bottom: 25px;
	margin-top: 40px;
}
.report_2 div{
	clear: both;
	width: 460px;
	height: 130px;
	background-color: #37b1bc;
	color: #ffffff;
	padding: 15px;
	
}